

<ion-header>
  <ion-toolbar>
    <ion-title id="title">Data Table</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
    <div id="button-group" class="section text-right">
      <button type="button" class="btn btn-secondary" (click)="printTable()">Print Current Table</button>
      <button type="button" class="btn btn-danger">Export to Excel</button>
    </div>

    <!-- Theme classes dark, material, bootstrap -->
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let col of columns" class="{{col.name}}">{{col.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows">
            <td>{{row.name}}</td>
            <td>{{row.company}}</td>
            <td class ="hide_colume">{{row.genre}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    

  </div>
</ion-content>
